#write_modal_wrap {
    display: none;
    position: fixed;
    z-index: 9;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
#write_first {
    display: none;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    top: 40%; /* 화면 세로 중앙으로 이동 */
    left: 50%; /* 화면 가로 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 세로, 가로 중앙 정렬 */
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#modify_modal_wrap{
    display: none;
    position: fixed;
    z-index: 9;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
#modify_first{ /*display: none으로 최초로 값이 숨겨짐*/
    display: none;
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    top: 40%; /* 화면 세로 중앙으로 이동 */
    left: 50%; /* 화면 가로 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 세로, 가로 중앙 정렬 */
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#select_modal_wrap {
    display: none;
    position: fixed;
    z-index: 9;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#select_first {
    position: fixed;
    z-index: 10;
    margin: 0 auto;
    top: 30px;
    left: 0;
    right: 0;
    display: none;
    padding: 20px;
    background-color: white;
    width: 230px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
