<!DOCTYPE html>
<html>
<head>
</head>
<body>
  
    
  
  <p>Select team:</p>
  <div class="mt-3">
    <% for(let i = 0; i < teamList.length; i++) { %>
        <button class="btn btn-primary mr-2 mb-2" onclick="selectButton(this);" data-team='<%- JSON.stringify(teamList[i]) %>' ><%=teamList[i]%></button>
        <% if ((i + 1) % 5 === 0 ) { %>
            <br>
        <% } %>
    <% } %>
  </div>
  <div id="piechart" style="width: 900px; height: 500px;">

  
  </div>
  
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  
 
</body>
</html>
