<html>
  <head>
    <style>
        .highlight-text {
          color: orange;
        }
      </style>
  </head>
  <body>
    <div id="barchart_material" style="width: 500px; height: 500px;"></div>


  
      
   
      
      <strong>Today's mvp: <span class="highlight-text"><%=MVPArr[0].userName%></span>, Congrat!, <span class="highlight-text"><%=MVPArr[0].userName%></span></strong>
      
      
    <hr>

    
    

        <a hidden id="voteArr" data-mvpArr='<%-JSON.stringify(MVPArr)%>' ></a>  
       

 


  </body>
 


  
  </script>
</html>
